<h1 style="text-align: center;color: red"> Favorite </h1>
<div class="container form-group">
  <% @favorites.each do |favorite| %>
    <% if current_user && current_user == favorite.user %>
      <table>
        <% Array(favorite.document).each_slice(4) do |group_document| %>
          <tr>
            <% group_document.each do |document| %>
              <%= render "favorite", document: document %>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
</div>
