<!-- Footer -->

  <!-- Footer Elements -->
  <div class="container-footer" style="background-color: #343a40; margin-top: 10px " >
    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1" style="color: white">Register for free</h5>
      </li>
      <li class="list-inline-item" style="color: white">
      </li>
    </ul>
  <div class="footer-copyright text-center py-3"style="background-color: #343a40; color: white">E Document
  </div>
</div>
  <!-- Footer Elements -->
  <!-- Copyright -->
  <!-- Copyright -->
<!-- Footer -->
