<div class="container form-group">
  <table>
    <% @category.documents.each_slice(4) do |group_document| %>
      <tr>
        <% group_document.each do |document| %>
          <% if document.legal? %>
            <td>
              <div class="card-document">
                <%= image_tag(document.thumbnail || "default-thumb.jpeg",class: "card-img-top img-document-thumb" ) %>
                <div class="card-body card-document-content">
                  <h5 class="card-title card-text">
                  <%= link_to document.name, document_path(document.id) %></h5>
                  <%= link_to "download", document_downloads_path(document), method: :post, class: "btn btn-primary" %>
                </div>
              </div>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
